.header{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  height: 50px;
  text-align: center;
  background-color: #fff;
}
.closeIcon {
position: absolute;
top: 18px;
left: 20px;
font-size: 22px;
}
.twitterLog {
height: 30px;
margin-top: 10px;
}