
.birthTitleItem {
  color: tBlue;
}
.birthdayInput {
  composes: input from '../../common.module.css';
  margin-top: 10px;
}
.dateIcon {
  height: 20px;
  float: right;
}
.birthDatePlaceholder {
  height: 30px;
  line-height: 30px;
  font-size: 20px;
}