@import '../../common.module.scss';

.nav {
  justify-content: space-between;
  height: 100%;
  width: 70%;
  overflow: auto;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 80px;
  bottom: 0;
  right: 20px;
}
.container {
  margin: 0, 30px;
  height: 100%;
  width: 20%;
}
.label {
  border-radius: 5px;
  height: 70px;
  padding: 20px 10px;
  width: 100%;
}
.navTitle {
  font-size: 26px;
}
.postTweet {
  font-size: 26px;
}
.userProfile {
  position: 'relative';
  bottom: 0px;
}
.postTweet {
  text-align: center;
}